  @font-face {
    font-family: 'haas';
    src: url('./fonts/NeueHaasGrotDisp-45Light-Trial.otf');
  }

  @font-face {
    font-family: 'digital';
    src: url('./fonts/Digital-Desolation-Plus.otf');
  }


  * { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 12px;  
  }

  body { 
    overflow-x: hidden;
  }


  h2 { 
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .logo { 
    all: unset;
    font-family: 'digital';
    font-size: 2rem;
    color: #ff3700;
    text-decoration: none;
    padding: 20px; 
    cursor: pointer;
    position: relative;
  }


  .intro {
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .titleAnimation {
    font-size: 50vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    gap: 0.1em;
    width: 90vw;
    height: fit-content;
    overflow-y: hidden;
  }

  .titleAnimation span {
    font-family: 'digital';
    font-size: 50px;
    opacity: 0;
    transform: translateY(80px);
    filter: blur(10px);
    color: #979797;
    display: inline;
  }

  .spacer {
    height: 100vh;
  }   

  .mainContainer { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
  }

  .navBar { 
    position: sticky;
    top:0; 
    font-family: 'digital';
    width: 100vw; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1.5px solid #e3e3e3;
    border-top: 1.5px solid #e3e3e3 ;
    cursor: pointer;
  }

  .navBar  a { 
    text-decoration: none;
    color: #e3e3e3;
  }

  .navBar a:hover { 
    color:#6a6a6a ;
  }

  .categories { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #e3e3e3;
  }

  .selected { 
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: -10px;
  }

  .selected a { 
    color:#6a6a6a ;
  }

  .orangeDot { 
    background-color: #ff3700;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    mix-blend-mode:darken;
  }

  .title { 
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content:center;
    align-items: center;
  } 

  .title h1 { 
    font-size: 10em;
    color: #e3e3e3;
  } 



  .detailContainer { 
    width: 100vw;
    height: fit-content;
    margin: 3rem;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'haas';
    color: #979797;
  }

  .productName { 
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .productName p { 
    font-size: 1.5rem;
  }

  .productDetail { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  .productDescription { 
    width: 25vw;
  }

  .productDescription p { 
    font-size: 1.3rem;
  }

  .canvasSection { 
    height: 400vh;
    width: 100vw;
  }

  canvas.webgl { 
    position: sticky;
    top: 0;
    width: 100%; 
    height: 100vh;
    display: block;
  }


  .spec { 
    width: 100vw;
    height: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
    font-family: 'haas';
    color: #979797; 
  }



  .images { 
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100vw;
    padding: 10px;
  }

  .images img { 
    height: 90vh;
    border-radius: 30px;
  } 

  .productImg { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px; 
  }

  .posterImg { 
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
  }

  .cta { 
    margin-top: 6rem;
    width:100vw;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    justify-content: center;
  }

  .cta a { 
    color: #e3e3e3;
    background-color: #6a6a6a;
    font-family: 'haas';
    font-size: 1rem;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }

  .cta a:hover { 
    color: #ff3700;
  }


  .profile { 
    padding: 20px;
    font-family: 'haas';
    color:#979797; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }